{% extends "base.html.twig" %}

{% block body %}
    <main id="profile-page" class="container">
        <div class="top-bar"></div>

        <div class="content">
            <div class="header">
                <h1>Mon Profil</h1>
                <small>Modifier mon profil</small>
            </div>

            <hr/>

            {% for type, messages in app.flashes %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ type == 'error' ? 'danger' : (type == 'success' ? 'success' : 'warning') }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div>
                {% for error in profileForm.vars.errors %}
                    <div class="alert alert-danger">
                        {{ error.message }}
                    </div>
                {% endfor %}
            </div>

            {{ form(profileForm) }}
        </div>
    </main>
{% endblock %}
