{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Mon Profil</h1>
         <div class="card p-4 shadow">
            {{ form(profileForm) }}
        </div>

        <div class="profile-actions">
            <a href="{{ path('app_profile') }}" class="btn btn-secondary">Modifier mes informations</a>
        </div>
    </div>
{% endblock %}
