{% extends "base.html.twig" %}

{% block body %}
    <main id="profile-page" class="container">
        <div class="top-bar"></div>

        <div class="content">
            <div class="header">
                <h1>Mon Profil</h1>
                <small>Modifier mon profil</small>
            </div>

            <hr/>

            {{ form(profileForm) }}
        </div>
    </main>
{% endblock %}
